# Dit is de complete binaire distro van Alpino.
# Hieruit wordt een subset gemaakt voor PaQu in Docker.
# Alpino moet gecompileerd zijn op een platform dat niet nieuwer is
# dan waar PaQu in Docker op wordt gecompileerd.
ALPINO_TGZ = /my/docker/alpino/alpino-in-docker/build/Alpino.tar.gz

